<div class="whatsapp-group-list-layout">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content -->
  <div class="main-content">
    <div class="group-list-page">
      <div class="page-header">
        <div class="breadcrumb">
          <span>Dashboard</span>
          <span class="breadcrumb-sep">•</span>
          <span>Group</span>
          <span class="breadcrumb-sep">•</span>
          <span class="breadcrumb-current">List</span>
        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6">
              <h1>Group List</h1>
            </div>
            <div class="col-sm-6">
              <button class="create-button" (click)="onCreateGroup()">
                <svg width="18" height="18" fill="none" stroke="#fff" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round" viewBox="0 0 24 24">
                  <line x1="12" y1="5" x2="12" y2="19" />
                  <line x1="5" y1="12" x2="19" y2="12" />
                </svg>
                Create Whatsapp Group
              </button>
            </div>
          </div>
        </div>
        </div>
        <div class="export-btn-container" *ngIf="!isLoading && filteredGroups.length > 0">
          <button mat-raised-button color="primary" (click)="exportToExcelFilteredGroups()">
            Download
          </button>
        </div>

      <div class="search-bar">
        <input type="text" placeholder="Search by group name..." [(ngModel)]="searchTerm"
          (ngModelChange)="onSearch()" />
      </div>

      <div class="error-message" *ngIf="errorMessage">
        {{ errorMessage }}
      </div>
    
      <div class="group-table-container" *ngIf="!isLoading">
         
        <table>
          <thead>
            <tr>
              <th>Group ID</th>
              <th>Group Name</th>
              <th>Description</th>
              <th>No of Members</th>
              <th>Created By</th>
              <th>Status</th>
              <th>Created At</th>
              <th>Action</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let group of paginatedGroups">
              <td><span class="group-id-badge">ID# {{ group.group_id }}</span></td>
              <td>{{ group.group_name }}</td>
              <td>{{ group.description || '-' }}</td>
              <td>
                <button class="view-members-btn btn" (click)="openGroupPopup(+group.group_id)"
                  style="position: relative;left:20px">
                  {{ group.member_count}}
                </button>
              </td>

              <td>{{ group.created_by || '-' }}</td>
              <td>
                <span class="status-badge" [class.active]="group.is_deleted === 'F'">
                  {{ group.is_deleted === 'F' ? 'Active' : 'Deleted' }}
                </span>
              </td>
              <td>{{ formatDate(group.created_at) }}</td>
              <td>
                <button class="actions-button">
                  <svg width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                    stroke-linejoin="round" viewBox="0 0 24 24">
                    <circle cx="12" cy="12" r="1" />
                    <circle cx="12" cy="5" r="1" />
                    <circle cx="12" cy="19" r="1" />
                  </svg>
                </button>
              </td>
            </tr>
            <tr *ngIf="filteredGroups.length === 0">
              <td colspan="7" class="no-data">No groups found</td>
            </tr>
          </tbody>
        </table>
        <div class="pagination-controls" *ngIf="totalPages > 1">
          <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>

          <ng-container *ngFor="let page of [].constructor(totalPages); let i = index">
            <button (click)="changePage(i + 1)" [class.active]="currentPage === i + 1">
              {{ i + 1 }}
            </button>
          </ng-container>

          <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
        </div>

      </div>
      <!-- Modal Popup -->
      <!-- Modal Overlay -->
      <div class="modal-overlay" *ngIf="showGroupPopup">
        <div class="modal-container">
          <div class="loading-spinner" *ngIf="isGroupPopupLoading">
            <div class="spinner"></div>
            <span>Member Loading...</span>
          </div>
          <div class="modal-header">
            <h3>Group ID: {{ selectedGroupId }}</h3>
            <div>
              <button class="close-btn" (click)="closePopup()">&times;</button>
            </div>

          </div>

          <div class="modal-body">
            <div class="loading-spinner" *ngIf="isDeleteMemberLoading">
              <div class="spinner"></div>
              <span>Deleting Member...</span>
            </div>
             <div class="loading-spinner" *ngIf="isAddingMemberLoading">
              <div class="spinner"></div>
              <span>Adding Member...</span>
            </div>
            <div class="export-btnmembers-container" *ngIf="!isGroupPopupLoading && filteredMembers.length > 0">
              <button mat-raised-button color="primary" (click)="exportToExcelFilteredMembers()">
                Download
              </button>
            </div>
            <div class="group-table-container" *ngIf="!isLoading">
              <div class="search-bar">
                <input type="text" [(ngModel)]="memberSearchTerm" (input)="onMemberSearch()"
                  placeholder="Search Members..." style="margin-bottom: 12px;">
              </div>
              <table>
                <thead>
                  <tr>
                    <th>Member ID</th>
                    <th>Member Name</th>
                    <th>Member Number</th>
                    <th>Session ID</th>
                    <th>Group Name</th>
                    <th>Status</th>
                    <th>Created At</th>
                    <th>Created By</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let member of paginatedMembers">
                    <td><span class="group-id-badge">ID# {{ member.member_id }}</span></td>
                    <td>{{ member.member_name }}</td>
                    <td>{{ member.member_number || '-' }}</td>
                    <td>{{ member.session_id }}</td>
                    <td>{{ member.group_name }}</td>
                    <!-- <td>
                      <span class="status-badge" [class.active]="member.is_deleted === 'F'">
                        {{ member.status === 'F' ? member.status : 'Deleted' }}
                      </span>
                    </td> -->
                  <td>
                    <span class="status-badge" [ngClass]="{
                        'status-active': member.status?.toLowerCase() === 'active',
                        'status-pending': member.status?.toLowerCase() === 'pending',
                        'status-invited': member.status?.toLowerCase() === 'invited',
                        'status-deleted': member.status?.toLowerCase() !== 'active' &&
                                          member.status?.toLowerCase() !== 'pending' &&
                                          member.status?.toLowerCase() !== 'invited'
                      }">
                      {{ formatStatus(member.status) }}
                    </span>
                  </td>

                    <td>{{ formatDate(member.created_at) }}</td>
                    <td>{{ member.created_by }}</td>
                  <td class="position-relative">
                    <!-- 3-dot Action Button -->
                    <button class="actions-button" (click)="toggleActionMenu(member.member_id)">
                      <svg width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" viewBox="0 0 24 24">
                        <circle cx="12" cy="12" r="1" />
                        <circle cx="12" cy="5" r="1" />
                        <circle cx="12" cy="19" r="1" />
                      </svg>
                    </button>
                  
                    <!-- Action Menu -->
                    <div class="action-menu" *ngIf="activeActionMemberId === member.member_id">
                      <button (click)="deleteMember(member.member_id)" class="delete-btn">
                        <svg xmlns="http://www.w3.org/2000/svg" class="delete-icon" width="16" height="16" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                          <polyline points="3 6 5 6 21 6" />
                          <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2" />
                          <line x1="10" y1="11" x2="10" y2="17" />
                          <line x1="14" y1="11" x2="14" y2="17" />
                        </svg>
                        Delete
                      </button>
                      <!-- Conditionally show Retry button if status is Pending -->
                      <button *ngIf="member.status?.toLowerCase() === 'pending'" class="retry-btn"  (click)="retryAddMember(member)">
                        🔄 Retry Add Member
                      </button>
                    </div>
                  
                  </td>

                  </tr>
                  <tr *ngIf="filteredMembers.length === 0">
                    <td colspan="7" class="no-data" style="position: relative;left:10%;font-weight: bold;">No members found</td>
                  </tr>
                </tbody>
              </table>
              <div class="pagination-controls" *ngIf="memberTotalPages > 1">
                <button (click)="changeMemberPage(memberCurrentPage - 1)" [disabled]="memberCurrentPage === 1">
                  Previous
                </button>

                <ng-container *ngFor="let page of [].constructor(memberTotalPages); let i = index">
                  <button (click)="changeMemberPage(i + 1)" [class.active]="memberCurrentPage === i + 1">
                    {{ i + 1 }}
                  </button>
                </ng-container>

                <button (click)="changeMemberPage(memberCurrentPage + 1)"
                  [disabled]="memberCurrentPage === memberTotalPages">
                  Next
                </button>
              </div>

            </div>
          </div>

          <div class="modal-footer">
            <button class="action-btn" (click)="closePopup()">Close</button>
          </div>
        </div>
      </div>

      <div class="loading-spinner" *ngIf="isLoading">
        <div class="spinner"></div>
        <span>Loading groups...</span>
      </div>

       <!-- Messages -->
          <div class="error-message " *ngIf="errorMessage">
            <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <circle cx="12" cy="12" r="10"></circle>
              <line x1="15" y1="9" x2="9" y2="15"></line>
              <line x1="9" y1="9" x2="15" y2="15"></line>
            </svg>
            {{ errorMessage }}
          </div>
          
          <div class="success-message" *ngIf="successMessage">
            <svg width="20" height="20" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
              <polyline points="20,6 9,17 4,12"></polyline>
            </svg>
            {{ successMessage }}
          </div>
    </div>
  </div>

</div>