<div class="login-split-container">
<div class="login-illustration">
  <div class="content">
    <img class="imglogo" src="https://intranet.wateen.com/Wateenfy/assets/LoginPage.png" alt="WatApp Logo" />
    <!-- <h1 class="app-title">WatApp</h1>
    <p class="app-description">
      Send personalized broadcast messages to your customers and groups with unmatched efficiency.
    </p> -->
  </div>
</div>


  <div class="login-form-side">
    <img _ngcontent-ng-c95035944="" src="https://intranet.wateen.com/Wateenfy/assets/Horizontal.svg" alt="Wateenfy Logo" height="80">
    <h2 class="login-title">Login</h2>
    <p class="login-subtitle">Enter your credentials & password.</p>
    <form (ngSubmit)="onSubmit()" class="login-form">
      <div class="form-group">
        <label style="font-size: 16px;">Email</label>
        <input style="width:100%"
          type="text" 
          id="email" 
          name="email" 
           #emailCtrl="ngModel"
          [(ngModel)]="email" 
          required 
          placeholder="Email"
            pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" 
        >
<small *ngIf="emailCtrl.errors?.['pattern'] && emailCtrl.touched" style="color: red;">
  Invalid email format.
</small>
      </div>
      <div class="form-group">
        <label style="font-size: 16px;">Password</label>
        <input style="width:100%"
          [type]="showPassword ? 'text' : 'password'" 
          id="password" 
          name="password" 
          [(ngModel)]="password" 
          required 
          placeholder="Password"
        >
        <span class="toggle-password" (click)="showPassword = !showPassword">
          <svg *ngIf="showPassword" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13.875 18.825A10.05 10.05 0 0112 19c-5.523 0-10-4.477-10-10 0-1.657.403-3.22 1.125-4.575M6.343 6.343A8.963 8.963 0 0112 5c5.523 0 10 4.477 10 10 0 1.657-.403 3.22-1.125 4.575M15.535 15.535A3.5 3.5 0 018.465 8.465M9.88 9.88a3.5 3.5 0 004.24 4.24" /></svg>
          <svg *ngIf="!showPassword" xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 12a3 3 0 11-6 0 3 3 0 016 0zm6 0c0 5-4.03 9-9 9s-9-4-9-9 4.03-9 9-9 9 4 9 9z" /></svg>
        </span>
      </div>
      <div class="form-row">
        <label><input class="chkboxstyle" type="checkbox" /> Remember me</label>
        <a class="forgot-password">Forgot password?</a>
      </div>
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>
      <button type="submit" class="login-button" [disabled]="isLoading">
        {{ isLoading ? 'Logging in...' : 'Login' }}
      </button>
    </form>
  </div>
</div> 